*{
	margin:0px;
	padding:0px;
	color:#656565;
}

body{
	font-size:17px;
	position: relative;
	background-color:#fff;
    max-width: 1750px;
/* 	background-color:#FBFBFB; */
	margin: 0px auto;
	line-height: 1.5;
	font-family:helvetica, arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	min-height:720px;
	padding-bottom:80px;
	overflow-x:hidden;
	/* font-family:"Courier New",Courier;	 */
}


.overlay{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.6;
	z-index:999;
	overflow:hidden;
}


#dialog-popup-overlay {
    background: rgb(43,43,43);
    z-index: 1001;
    position: fixed !important;
}

.arrow-up{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #656565;
}

.popup-dialog {
    box-shadow: 1px 3px 9px #A6A3A3;
    width: 512px;
    
    border-radius: 3px;
    overflow: hidden;
}
.dialog {
    background: #fff;
}

.popup-dialog .dialog-header {
    height: 44px;
}
.dialog-header {
    color: #fff;
    background: #780000;
    background: -webkit-linear-gradient(#a13030, #780000);
    background: -o-linear-gradient(#a13030,#780000);
    background: -moz-linear-gradient(#a13030,#780000);
    background: linear-gradient(#a13030,#780000);
    text-align: left;
    height: 40px;
}
.bar-title.vertical-center {
    height: 100%;
    margin: 0px 0px 0px 16px;
}

.popup-dialog .dialog-body {
    min-height: 60px;
}
.dialog-body {
    background: #fff;
    text-align: left;
    position: relative;
    width: 100%;
}

.edit-dialog-footer {
    text-align: right;
    border-top: 1px solid #f0f0f0;
    padding: 6px 0px;
    margin-top: 4px;
}
.dialog-footer {
    background: #fff;
}





.txt_ofl{
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}



@media (min-width: 1024px){
	.glob-container{
		width:80%;
		margin:0px auto;
		padding-top:30px;
	}	
	#title{
		font-size:3vw;
	}
	
	.item-info{
		text-align:left;
	}
	
	.items{
		display:inline-block;
		margin-bottom:20px;
		width:32%	
	}

	.items:nth-child(3n-1){
		margin:0px 2%;
	}
	
	#banner{
		font-size: 16px;
	}
}

@media (max-width: 1024px){
	
	#title{
		font-size:3vw;
	}
	
	.glob-container #banner{
		padding: 0px 20px
	}
	
	.item-info{
		text-align:center;
	}
	
	
	.item-wrapper img{
		border-radius:0px;
	}
	
	.items{
		display:inline-block;
		margin-bottom:20px;
		width:33%	
	}

	.items:nth-child(3n-1){
		margin:0px 0.5%;
	}
	
	#banner{
		font-size: 15px;
	}
	
	
	
}

@media (max-width: 832px){
	.glob-container{
		width:100%;
		padding-top:30px;
	}	
	
	#title{
		font-size:16px;
		text-align:left;
		margin-bottom:10px;
	}
	
	#banner{
		font-size: 14px;
	}
	#ins-icon{
		display:none;
	}
	
	.item-info{
		font-size:13px !important;
	}
	
	.grid-column{
		/* text-align:center !important; */
		font-size:14px !important;
	}
	.form-title{
		text-align:center !important;
		
	}
	
	#keep-shopping{
		display:none;
	}
	
	#shopping-cart{
		max-width:90vw;
	}
	
	/* 
#shopping-cart-wrapper{
		display:none;
	}
 */
	
}

@media (min-width: 832px){
	
	#ins-label{
		position:relative;
		top:6px;
		left:4px;
	}
	
	#ins-wrapper{
		margin-top:10px;
	}
	
	
}




.a-red{
	color:#7D1D1D;
}

.plain-lk{
	text-decoration:none;
	cursor:pointer;
}

.plain-lk:hover{
	text-decoration:underline;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


div{
	outline:none;
	word-wrap: break-word;
}


div img{
	border-radius:3px;
	border:none;
}


.vertical-center{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
}


.inline-blk{
	display:inline-block;
	vertical-align:top;
}
.hdn{
	display:none !important;
}

#logo{
	text-decoration:none;
	color:inherit;
}


.items .item-wrapper{
	width:100%;
	overflow:hidden;
	cursor:pointer;
	border: 1px solid #eaeaea;
}


.left-flow{
	float:left;
}


.right-flow{
	float:right;
}

.item-info{
	font-size:15px;
	margin-top:10px;
}

.item-info span{
	color:#979797;
}

.product-preview{
	width:100%;
}

#title{
	color:#7D1D1D;
	text-decoration:none;
	font-family:helvetica;
}
#title>a,#title>div {
	color:inherit;
}



#banner #shopping-cart-wrapper{
	float:right;
}

#product-grid{
	font-size:0px
}



#global-navi{
	color:#B9B9B9;
}


#global-navi a{
	color:#979797;
	text-decoration:none;
}

#global-navi a:hover{
	text-decoration:underline;
}



.product-price{
	margin:10px 0px;
	font-size:18px;
}

.proudct-select-size{
	margin-top:30px;
}

.proudct-select-size .header{
	font-size:14px;
	
}



.proudct-select-size .body{
	font-size:12px;
	margin-top:6px;
}

.proudct-select-size .body ul li{
	list-style:none;
	cursor:pointer;
}

.proudct-select-size .body select{
	margin-right:6px;
	
}


.proudct-action{
	margin-top:40px;
}

.fashion-black-button{
	padding:8px 14px;
	background:#2E1A1A;
	color:#fff;
	border:#333;
	border-radius:2px;
	cursor:pointer;
	font-weight:600;
	font-size:12px;
}

.fashion-gray-button{
	padding:10px 16px;
	border-radius:2px;
	cursor:pointer;
	font-weight:600;
	font-size:12px;
	border:1px solid #CFCFCF;
	background:#fff;
}

.proudct-action button:hover{
	opacity:0.9;
}

.attribute-name-selector{
	padding:4px; 
}

.attribute-selected{
	border:2px solid #991C1C;
	border-radius:2px;
}

.stock-status{
	font-size:14px;
}

.unclickable{
	cursor:default !important;
	opacity:0.8;
}


#popup-dialog .animated-button{
	font-size:15px;
}

#shopping-cart-wrapper{
	position:relative;
}

#shopping-cart-wrapper #shopping-cart{
	display:none;
}

#cart-item-num{
	color:inherit;
}


.popup-cart-item-wrapper{
	clear:both;
	margin-bottom:10px;
	border-bottom:1px solid #f0f0f0;
	padding-bottom:10px;
}


.grid-column{
	padding:10px 0px;
	display:inline-block;
	text-align:center;
	font-size:16px;
	vertical-align:top;
}

.paypal-checkout{
	background:url("../media/paypal-checkout.png") no-repeat scroll 0 0 transparent;
}

#glob-checkout-wrapper{
	display:inline-block;
	width:90%;
	text-align:left;
	border:1px solid #BFBFBF;
	margin-top:10px;
}

